body {
    color: #0077DD;
    background-color: #EEEEEE;
    display: block;
    font-family: lato;
}

#header {
    line-height: 1.8em;
}

#name {
    float: left;
    color: black;
    font-weight: 400;
}

#links {
    float: right;
    margin-right: 2em;
}

.link {
    text-decoration: none;
    color: #555555;
    margin-left: 0.5em;
}

.link:hover {
    text-decoration: none;
    cursor: pointer;
    color:black;
}

#content {
    font-family: open-sans;
}