body {
    background-color: #EFEFEF;
    font-family: lato;
}

#header {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #888888;
}

#name {
    float: left;
    color: #00AAFF;
    margin-top: 0em;
    margin-left: 4em;
    margin-bottom: 0.5em;
    font-weight: 100;
}

#links {
    float: right;
    margin-top: 0.6em;
    margin-right: 15em;
}

.link {
    text-decoration: none;
    color: #888888;
    margin-left: 1em;
}

.link:hover {
    text-decoration: none;
    cursor: pointer;
    color:black;
}

#content {
    font-family: open-sans;
}

#personal-image-round {
    float: left;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    margin-top: 5em;
    margin-left: 5em;
}

#about-text {
    width: 40%;
    float: right;
    margin-right: 15em;
    margin-top: 5em;
}